doctype html
html(class='no-js')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='description', content='')
    meta(name='keywords', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1,maxium-scale=1, user-scalable=no')
    title= title
    meta(name='renderer', content='webkit')
    meta(http-equiv='Cache-Control', content='no-siteapp')
    meta(name='mobile-web-app-capable', content='yes')

    link(rel='stylesheet', href='/stylesheets/amazeui.css')
    link(rel='stylesheet', type='text/css', href='/stylesheets/style.css')
  body(style='background-color: black;')
    block content
