body {
	color: #fff;
}

div#bo1 {
	// width: 33.333%	;
	height: 400px;
	background: #1e1d1a;
	border: 1px solid;
	border-color: black;
}

iframe{
	width: 100%;
	height: 100%;
}

// .am-u-sm-1 {
// 	width: 100%;
// }